## Reading Datasets

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
import pyspark


### Read a dataset with pandas

In [ ]:
import pandas as pd

pd.read_csv("/content/demo.csv")

   Name;age
0  Krish;31
1   Bill;18
2  Mary ;29

In [ ]:
type(pd.read_csv("/content/demo.csv"))

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

### Read a dataset with pyspark

In [ ]:
# read the dataset
df_pyspark=spark.read.csv("/content/demo.csv")

In [ ]:
df_pyspark= spark.read.option('header','true').csv("/content/demo.csv")

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
# read the dataset
spark.read.option('header','true').csv("/content/demo.csv").show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|         2|
| Bill| 18|         3|
| Mary| 29|         4|
+-----+---+----------+

### Checking the Datatypes of the Column (Schema)

In [ ]:
# check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [ ]:
# read the dataset
df_pyspark_= spark.read.option('header','true').csv("/content/demo.csv",inferSchema=True)
# check the schema
df_pyspark_.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
# read the dataset
df_pyspark=spark.read.csv("/content/demo.csv", header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|         2|
| Bill| 18|         3|
| Mary| 29|         4|
+-----+---+----------+

In [ ]:
# check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

A dataframe is a data structure.

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [ ]:
df_pyspark.head(3)

[Row(Name='Krish', Age=31, Experience=2),
 Row(Name='Bill', Age=18, Experience=3),
 Row(Name='Mary', Age=29, Experience=4)]

In [ ]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|         2|
| Bill| 18|         3|
| Mary| 29|         4|
+-----+---+----------+

## Selecting Columns And Indexing

### Select a column

In [ ]:
df_pyspark.select("Name")

DataFrame[Name: string]

In [ ]:
df_pyspark.select("Name").show()

+-----+
| Name|
+-----+
|Krish|
| Bill|
| Mary|
+-----+

In [ ]:
type(df_pyspark.select("Name"))

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.select("Name","Experience")

DataFrame[Name: string, Experience: int]

### Select several columns

In [ ]:

df_pyspark.select("Name","Experience").show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Krish|         2|
| Bill|         3|
| Mary|         4|
+-----+----------+

In [ ]:
df_pyspark['Name']

Column<'Name'>

In [ ]:
# Check the types
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [ ]:
df_pyspark.describe().show()

+-------+----+----+----------+
|summary|Name| Age|Experience|
+-------+----+----+----------+
|  count|   3|   3|         3|
|   mean|null|26.0|       3.0|
| stddev|null| 7.0|       1.0|
|    min|Bill|  18|         2|
|    max|Mary|  31|         4|
+-------+----+----+----------+

### Adding columns

In [ ]:

df_pyspark.withColumn('Experience After two years', df_pyspark['Experience']+2)

DataFrame[Name: string, Age: int, Experience: int, Experience After two years: int]

In [ ]:
df_pyspark.withColumn('Experience After two years', df_pyspark['Experience']+2).show()

+-----+---+----------+--------------------------+
| Name|Age|Experience|Experience After two years|
+-----+---+----------+--------------------------+
|Krish| 31|         2|                         4|
| Bill| 18|         3|                         5|
| Mary| 29|         4|                         6|
+-----+---+----------+--------------------------+

In [ ]:
df_pyspark_new = df_pyspark.withColumn('Experience After two years', df_pyspark['Experience']+2)
df_pyspark_new.show()

+-----+---+----------+--------------------------+
| Name|Age|Experience|Experience After two years|
+-----+---+----------+--------------------------+
|Krish| 31|         2|                         4|
| Bill| 18|         3|                         5|
| Mary| 29|         4|                         6|
+-----+---+----------+--------------------------+

### Droping the columns

In [ ]:
df_pyspark_new.drop('Experience After two years')

DataFrame[Name: string, Age: int, Experience: int]

In [ ]:
df_pyspark_new.drop('Experience After two years').show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|         2|
| Bill| 18|         3|
| Mary| 29|         4|
+-----+---+----------+

In [ ]:
df_pyspark_new = df_pyspark_new.drop('Experience After two years')
df_pyspark_new.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|         2|
| Bill| 18|         3|
| Mary| 29|         4|
+-----+---+----------+

### Rename the columns

In [ ]:

df_pyspark_new.withColumnRenamed('Name','NewName').show()

+-------+---+----------+
|NewName|Age|Experience|
+-------+---+----------+
|  Krish| 31|         2|
|   Bill| 18|         3|
|   Mary| 29|         4|
+-------+---+----------+

## Missing values 
We can replace missing values following criterias like replace NA values by Mean, Median and Mode.

In [ ]:
df_pyspark= spark.read.csv("/content/demo3_na.csv", header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|         2|100000|
| Bill| 18|         3|200000|
| Mary| 29|         4|300000|
| Tony| 13|         0|  null|
| Anna| 28|         4|304000|
+-----+---+----------+------+

In [ ]:
df_pyspark.na.drop().show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|         2|100000|
| Bill| 18|         3|200000|
| Mary| 29|         4|300000|
| Anna| 28|         4|304000|
+-----+---+----------+------+

In [ ]:
#All items in the line are null
df_pyspark.na.drop(how="all").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|         2|100000|
| Bill| 18|         3|200000|
| Mary| 29|         4|300000|
| Tony| 13|         0|  null|
| Anna| 28|         4|304000|
+-----+---+----------+------+

In [ ]:
df_pyspark.na.drop(how="any").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|         2|100000|
| Bill| 18|         3|200000|
| Mary| 29|         4|300000|
| Anna| 28|         4|304000|
+-----+---+----------+------+

In [ ]:
# At least 2 null values to drop the raw
df_pyspark.na.drop(how="any",thresh=2).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|         2|100000|
| Bill| 18|         3|200000|
| Mary| 29|         4|300000|
| Tony| 13|         0|  null|
| Anna| 28|         4|304000|
+-----+---+----------+------+

### Deleting rows with a particular column with null

In [ ]:

df_pyspark.na.drop(how="any",subset=['Salary']).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|         2|100000|
| Bill| 18|         3|200000|
| Mary| 29|         4|300000|
| Anna| 28|         4|304000|
+-----+---+----------+------+

### Filling the missing value

In [ ]:

df_pyspark.na.fill(0).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|         2|100000|
| Bill| 18|         3|200000|
| Mary| 29|         4|300000|
| Tony| 13|         0|     0|
| Anna| 28|         4|304000|
+-----+---+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['Age','Experience','Salary'],
                  outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
                  ).setStrategy("mean")

In [ ]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+---+----------+------+-----------+------------------+--------------+
| Name|Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+---+----------+------+-----------+------------------+--------------+
|Krish| 31|         2|100000|         31|                 2|        100000|
| Bill| 18|         3|200000|         18|                 3|        200000|
| Mary| 29|         4|300000|         29|                 4|        300000|
| Tony| 13|         0|  null|         13|                 0|        226000|
| Anna| 28|         4|304000|         28|                 4|        304000|
+-----+---+----------+------+-----------+------------------+--------------+

In [ ]:
imputer = Imputer(inputCols=['Age','Experience','Salary'],
                  outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
                  ).setStrategy("median")

In [ ]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+---+----------+------+-----------+------------------+--------------+
| Name|Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+---+----------+------+-----------+------------------+--------------+
|Krish| 31|         2|100000|         31|                 2|        100000|
| Bill| 18|         3|200000|         18|                 3|        200000|
| Mary| 29|         4|300000|         29|                 4|        300000|
| Tony| 13|         0|  null|         13|                 0|        200000|
| Anna| 28|         4|304000|         28|                 4|        304000|
+-----+---+----------+------+-----------+------------------+--------------+